[user]
        name = # your name
        email = # your email
[push]
    default = current # biar git push langsung ke branch sekarang, gak ribet
[init]
    defaultBranch = main # gak usah lagi rename master ➝ main

[alias]
        undo = reset --soft HEAD~1
        lgs = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all # pretty log simple
        lgd = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' # pretty log detailed

